<div>
  <h3 class="text-center">Tags:</h3><br><br>
  	<% counter = 0 %>
  	<p>
    <% @tags.each do |tag| %>
		<% if counter % 5 == 0 %>
			</p><p>
		<% end %>
      <a href="/tags/<%= tag.id %>"><button class="text-center"><%= tag.name %></button></a>
    <% end %>
    </p>
    
</div>