<div>
	<h3><%= @tag[:tag].name %></h3>
	<p>Associated posts</p><br>
	<ul>
		<% @tag[:posts].each do |post| %>
			<a href="/posts/<%= post.id %>"><li>Title: <%= post.title %>  Author: <%= post.author %></li></a>
		<% end %>
	</ul>
</div>