<div>
	<h2 class="text-center">Tag name:  <%= @tag[:tag].name %></h2><br>
	<h4 class="text-center">Associated posts</h4><br>
	
	<% @tag[:posts].each do |post| %>
		<p><a href="/posts/<%= post.id %>"><li class="text-center">Title: <%= post.title %></p> 
		<p>Author: <%= post.author %></p><br>
	<% end %>

</div>